*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.logo img{
    float: left;
    width: 150px;
    height: auto;
}
.main{
    max-width: 1200px;
    margin:auto;
}

.heading_container{
    position: absolute;
    right: 10%;
    top: 30%
}
.text_center{
    text-align: center;
}
.size_7em{
    font-size: 4em;

}
.float_right{
    float: right;
}


